
<%= form_for [@school, @grade, @student] do |f| %>

<div id="error_explanation">
	<% if @student.errors.any? %>
		<h2><%= pluralize(@student.errors.count, "error") %> prevented this from saving:</h2>
		<ul>
			<% @student.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		<% end %>
</div>

<br>
<div class="field">
	<%= f.label :number, "Student ID"  %> <br>
	<%= f.number_field :number, :max => 99999999 %> 
</div>

<div class="field">
	<%= f.label :name, "Student's Name"  %> <br>
	<%= f.text_field :name, placeholder: "English name, ex: Bill Hung" %> 
</div>

<div class="field">
	<%= f.label :gender, "Gender"  %> <br>
	<%= f.select :gender, options_for_select([ "Male", "Female" ], "Male") %>
</div>

<div class="f">
	<%= f.label :birth, "Birthday"  %> <br>
	<%= f.date_select :birth, start_year: Date.today.year - 70, end_year: Date.today.year %> 
</div>  <br>

<div class="field">
	<%= f.label :height, "Height"  %> <br>
	<%= f.number_field :height, :step => 0.1, :max => 300 %> <em>cm</em>
</div>

<div class="field">
	<%= f.label :weight, "Weight"  %> <br>
	<%= f.number_field :weight, :step => 0.1, :max => 200 %> <em>kg</em>
</div>



<br>

	<%= f.submit class: "button" %>
	

<% end %>
