<div class="container-fluid">
    
  <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color: #B8C129">BMI for World</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to("School List", root_path) %>
          </li>
        </ul>
        
        <%= form_tag schools_path, method: :get,class: "navbar-form navbar-left"  do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search school" %>
          <%= submit_tag "Search" %>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
            <li><%= link_to "Sign Up", new_user_registration_path  %></li>
            <li><%= link_to("Sign In", new_user_session_path) %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi, <%= current_user.name || current_user.email %>
               <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
  </nav>
</div>




